<%= render :partial => "layouts/admin_header" %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>Editing contact</h1>
      <div class='admin-form'>
        <%= render 'form' %>
      </div>
      <%= link_to 'Back', contacts_path %>
    </div>
  </div>
</div>
